



.margin-top-20{
	margin-top:20px;
}

.feature-img{
	height: 200px;
  width:100px;
}



.product-item{
	background: #dcf4fc;
}


.shop{
	text-align: center;
}

.hideme {
  display: none;
}

.woo {
  cursor: pointer;
}

.hideme + .woo:before {
  width: 10px;
  height: 10px;
  border: 2px solid gray;
  border-radius: 2px;
  box-shadow: -1px 1px 2px 2px rgba(0,0,0,0.2);
 .hideme {
  display: none;
}

.woo {
  cursor: pointer;
}

.hideme + .woo:before {
  width: 10px;
  height: 10px;
  border: 2px solid gray;
  border-radius: 2px;
  box-shadow: -1px 1px 2px 2px rgba(0,0,0,0.2);
  background: green;
  position: relative;
  display: inline-block;
  margin-right: 1ex;
  content: "";
}

.hideme:checked + .woo:before {
  background: green;
}
  position: relative;
  display: inline-block;
  margin-right: 1ex;
  content: "";
}

.hideme:checked + .woo:before {
  background: green;
}

.card{
  height:380px;

  
}

.card-body{
  height:200px;
}


.head{
  position:absolute;
  left:1100px;
  z-index: 1;
}

.head2{
  position:absolute;
  left:1160px;
  z-index: 1;
}

.new-body{
  height:300px;
  width:1000px;
}
.new{
  height:1000px;
  width:2000px;
  margin-left: 280px;
  margin-top:70px;
 }
 

.reg-body{
  height:800px;
  width:1000px;
}

.reg{
  margin-left: 0px;
  margin-top:50px;
}

.w3-btn{
height:30px;
width:100px;
margin-left: 165px;
background-color: black;
color:white;
font:bold 15px arial,sans-serif;
border-style:outset;
}

.w4-btn{
height:30px;
width:100px;
margin-left: 30px;
background-color: black;
color:white;
font:bold 15px arial,sans-serif;
border-style:outset;
}

.h{
  margin-left:300px;
}

.f{
  margin-top:300px;
  font-size:18px;
  font-style:oblique;
  
}

.profile{
  margin-left:1280px;
  
}

.c{

margin-left:100px;
a:link{
  color:green;
}

}


.done{
  background-color: #28a745;
}

.w{
  position: absolute;
  top: 8px;
  right: 8px;
}
.off{
  position: absolute;
  top: 6px;
  left: 8px;
}





.review{
  margin-top:60px;
}

.mytext
{
  height: 50px;
  width:500px;

}

.button{
  background-color: black;
  border:transparent;
  color:white;
  padding:15px 32px;
  text-align:center;
  text-decoration: none;
  display:inline-block;
  font-size:16px;


}

.acart{
  background-color: black;
  border:transparent;
  color:white;
  padding: 10px 32px;
  text-align:center;
  text-decoration: none;
  display:inline-block;
  font-size:15px;
 



}


.cmnt{
margin-top:70px;

}

.scrol{
  overflow-x: auto;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}